extends base.pug

block scripts
   script(src='/static/index.js')

block styles
    style
      include ../static/style.css
      include ../static/styleabout.css

block content  
    h1 About Us
    div.container 
        img(src="../static/factory.jpg", alt="")
        
        div.aboutinfo
            p   DMPL is an authentic Indian manufacturer specialized in the manufacturing of high end medical devices for various endoscopy applications We support "Make in India" campaign initiated by Govt. of India and aim to be a leading Indian manufacturer.
            
            br

            p   We are strongly supported by our R and D Teams in India and abroad and Quality is kept intact by adhering to International quality management systems and good manufacturing practices.

            br 

            p   DMPL has been fairly successful in satisfying the customer needs by innovations and providing them the products they actually need to excel in their clinical applications.

            br

            p   For the distributors, DMPL has succeeded in providing marketable, high quality, cost competitive, reliable and Unique specifications products which are difficult to be compared by competition. Therefore the Channel partners and distributors can provide excellent products to their markets at fair margins.

            br

            p   DMPL products are being used by leading Medical Colleges, Universities, Corporate Hospitals, Research Institutes and medical professionals in India and abroad. Delighted customers in Hospitals as well as happy distributors are a testimony to our success.

            br

            p   DMPL has the capacity to produce the Medical devices according to the requirements of the customers and plans to concentrate on major distributors and OEM partners for further business expansion.