extends base.pug

block scripts
   script(src='/static/index.js')

block styles
    style
      include ../static/style.css
      include ../static/stylegallery.css

block content
    div.gall

        <div class="gallery">
            <a target="_blank" href="/">
                <img src="../static/gal37.jpg" alt="Cinque Terre" width="600" height="400" class="image">
            </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Cystoscopy Sheath</div>
        </div>



        <div class="gallery">
        <a target="_blank" href="gal36.jpg">
            <img src="../static/gal36.jpg" alt="Forest" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>

        <div class="desc">Fibre Optic Cable</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gal35.jpg">
            <img src="../static/gal35.jpg" alt="Northern Lights" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Flexible Forcep</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gal34.jpg">
            <img src="../static/gal34.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Instrument</div>
        </div>
        
        <div class="gallery">
        <a target="_blank" href="gall33.jpg">
            <img src="../static/gall33.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Mauermayer Punch</div>
        </div>
        
        <div class="gallery">
        <a target="_blank" href="gall1.jpg">
            <img src="../static/gall1.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">BiPolar Forecep</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gall2.jpg">
            <img src="../static/gall2.jpg" alt="Mountains" width="600" height="400" class="image">
        </a> <div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Single Puncture Scope</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gall3.jpg">
            <img src="../static/gall3.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Standard Trocar</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gall4.jpg">
            <img src="../static/gall4.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Reducer</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gall5.jpg">
            <img src="../static/gall5.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Clip Applicator</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gall6.jpg" >
            <img src="../static/gall6.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">HF Cord</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gall7.jpg">
            <img src="../static/gall7.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">Speculum</div>
        </div>

        <div class="gallery">
        <a target="_blank" href="gall8.jpg">
            <img src="../static/gall8.jpg" alt="Mountains" width="600" height="400" class="image">
        </a><div class="overlay">
            <div class="text"><a href="/contact">More Info</a></div>
        </div>
        <div class="desc">LED Light Source</div>
        </div>
        