extends base.pug
block scripts
   script(src='../static/index.js')

block styles
    style
      include ../static/style.css
      include ../static/styleservices.css
      

block content  
    div.container1 
      h1#mainhead OEM Services
      h1 "Where OutSourcing comes full circle"
    div.oemtext
      p As an original medical device manufacturer DMPL provides traditional high quality contract manufacturing services whereupon our skilled engineers can develop and design our products according to your specifications, name, logo and design from start to finish.This facility of OEM manufacturing is especially useful to those companies who do not wish to build their own manufacturing capability or wish to outsource the manufacture of their products. Some reputed Companies / brands are already availing the OEM capability offered by DMPL under OEM contract.
      
      p For OEM / ODM queries,         Please <a href="/contact">Click Here</a> 
      <br>
    div.gshead
      h1 General Services
    div.omtext
      p DMPL has set up customer support centers in order to ensure timely services to our distributors and end users. Our Customer Support Centre can be reached by the following means:- <br><br> By phone to:- +91-98183xxxx or By <a href="/contact">Clicking Here</a><br><br>It’s our endeavor to make available services at reasonable costs as well as prompt response.<br><br><br>

    
      